.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80%;
  background-color: bisque;
}

div.container1 {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 80%;
}

div.container2 {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 80%;
}

#history {
  display: block;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  white-space: pre;
  flex-grow: 1;
  flex-shrink: 2;
  overflow-y: scroll;
  max-height: 600px;
  background-color: rgba(255, 235, 205, 0.925);
}

#msg {
  display: block;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  white-space: pre;
  flex-grow: 3;
  flex-shrink: 1;
  overflow-y: scroll;
  max-height: 600px;
  background-color: blanchedalmond;
}

#users {
  display: block;
  border: 2px solid black;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: antiquewhite;
}

th {
  border-bottom: 1px solid black;
}

#postInfo {
  color: blue;
}

textarea {
  width: auto;
  resize: none;
  background-color: lightgoldenrodyellow;
}

#btn1 {
  align-self: flex-end;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  white-space: pre;
}

#btn2 {
  align-self: flex-start;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  white-space: pre;
}

h1 {
  font-size: 52px;
  font-family: cursive;
}

.display {
  display: none;
}

form{
  align-self: flex-start;
}